body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  height: 100vh;
  color: #333;
  background-image: url('photos/hojaa.jpg');
  background-size:cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5); 

}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.menu {
  margin-top: 30px;
}
.menu a {
  display: block;
  margin: 15px 0;
  color: #007BFF;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.menu a:hover {
  background-color: #f0f0f0;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.header h1 {
  margin: 0;
  color: #333;
}
.header button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.header button:hover {
  background-color: #0056b3;
}
.cards {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}


.card {
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
}
.card h3, .card p {
  color: #fff; 
}

.card.term-1 {
  background-color: #6A381F; 
  border-top-color: 5px solid #6A381F; 
}

.card.term-2 {
  background-color: #774E24; 
  border-top-color: 5px solid #774E24; 
}

.card.term-3 {
  background-color: #DCAB6B; 
  border-top-color: 5px solid #DCAB6B; 
}


.tasks {
  margin-bottom: 30px;
}
.tasks h3 {
  color: #28a745;
}
.task-list {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.task-list p {
  color: #555;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}
.task-list p:last-child {
  border-bottom: none;
}


.calendar {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.calendar h3 {
  color: #ff5722;
  margin-bottom: 30px;
}
.calendar ul {
  list-style: none;
  padding: 0;
}
.calendar ul li {
  margin-bottom: 15px;
  color: #555;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.calendar ul li:hover {
  background-color: #f0f0f0;
}